CREATE TABLE SACH
(
	MaSach varchar(10) not null,
	TenSach nvarchar(50) not null,
	TheLoai nvarchar(50) not null,
	TacGia nvarchar(50) not null,
	SoLuongTon int not null,
	DonGiaBan int not null,
	primary key(MaSach)
);
CREATE TABLE KHACHHANG
(
	MaKhachHang varchar(10) not null,
	TenKhachHnag nvarchar(90) not null,
	Email varchar(30) not null,
	SDT varchar(10) not null,
	DiaChi nvarchar(90) not null,
	TienNo int not null,
	primary key(MaKhachHang)
);

CREATE TABLE PHIEUNHAPSACH
(
	MaPhieuNhap varchar(10) not null,
	NgayNhap date not null,
	primary key(MaPhieuNhap)
);
CREATE TABLE CHITIETPHIEUNHAPSACH
(
	MaPhieuNhap varchar(10) not null,
	MaSach varchar(10) not null,
	SoLuongNhap int not null,
	primary key(MaPhieuNhap, MaSach) 
);

CREATE TABLE HOADONBANSACH
(
	MaHoaDon varchar(10) not null primary key,
	NgayLapHoaDon date,
	MaKhachHang varchar(10) not null
);


CREATE TABLE CHITIETHOADONBANSACH
(
	MaHoaDon varchar(10) not null,
	MaSach varchar(10) not null,
	SoLuongBan int not null,
	DonGiaBan int not null,
	primary key(MaHoaDon, MaSach)
);
CREATE TABLE PHIEUTHUTIEN
(
	MaPhieuThuTien varchar(10) not null,
	MaKhachHang varchar(10) not null,
	NgayThuTien date not null,
	SoTienThu int not null,
	primary key(MaPhieuThuTien)
);
CREATE TABLE BAOCAOTON
(
	MaBaoCaoTon varchar(10) not null primary key,
	Thang int not null
);
CREATE TABLE CHITIETBAOCAOTON
(
	MaBaoCaoTon varchar(10) not null,
	MaSach varchar(10) not null,
	SoLuongTonDau int not null,
	PhatSinh int not null,
	SolUongTonCuoi int not null,
	primary key(MaBaoCaoTon, MaSach)
);
CREATE TABLE BAOCAOCONGNO
(
	MaBaoCaoCongNo varchar(10) not null,
	Thang int not null,
	primary key(MaBaoCaoCongNo)
);
CREATE TABLE CHITIETBAOCAOCONGNO
(
	MaBaoCaoCongNo varchar(10) not null,
	MaKhachHang varchar(10) not null,
	SoNoDau int not null,
	PhatSinh int not null,
	SoNoCuoi int not null,
	primary key(MaBaoCaoCongNo, MaKhachHang)
);
CREATE TABLE QUYDINH
(
	SoLuongNhapToiThieu int not null,
	SoLuongTonToiThieuDeNhap int not null,
	TienNoToiDa int not null,
	SoLuongTonToiThieuSauKhiBan int not null,
	DuocThuVuotSoTienKhachHangDangNo bit not null
);


-- Insert Data into SACH
INSERT INTO SACH VALUES ('MS001', N'Kính Vạn Hoa - Trọn bộ', N'Truyện Ngắn', N'Nguyễn Nhật Ánh', 342, 300000);
INSERT INTO SACH VALUES ('MS002', N'Hoa Thiên Cốt - Trọn bộ', N'Tiểu Thuyết', N'Fresh Quả Quả', 288, 240000);
INSERT INTO SACH VALUES ('MS003', N'Narnia - Trọn bộ', N'Sách Lịch Sử', N'Clive Staples Lewis', 147, 220000);


-- Insert data into KHACHHANG
INSERT INTO KHACHHANG VALUES('KH001', N'Nguyễn Anh Khoa', 'khoa188@gmail.com','0927364591',N'236/78 Cách Mạng Tháng 8, Quận 10, TP Hồ Chí Minh', 0);
INSERT INTO KHACHHANG VALUES('KH002', N'Lê Hoàn', 'hoanle001@gmail.com','0726482918',N'33/8 Vạn Kiếp, Quận 8, TP Hồ Chí Minh', 13000);
INSERT INTO KHACHHANG VALUES('KH003', N'Trần Nguyễn Hoàng Anh', 'hoanhanh@gmail.com','0183654726',N'123 Cây Keo, Thủ Đức, TP Hồ Chí Minh', 15000);


-- Insert data into PHIEUNHAPSACH

INSERT INTO PHIEUNHAPSACH VALUES('PN001', '1-01-2020');
INSERT INTO PHIEUNHAPSACH VALUES('PN002', '2-01-2020');
INSERT INTO PHIEUNHAPSACH VALUES('PN003', '3-01-2020');

-- Insert data into CHITIETPHIEUNHAPSACH

INSERT INTO CHITIETPHIEUNHAPSACH VALUES('PN001', 'MS001', 150);
INSERT INTO CHITIETPHIEUNHAPSACH VALUES('PN001', 'MS002', 150); 
INSERT INTO CHITIETPHIEUNHAPSACH VALUES('PN001', 'MS003', 150); 

-- Insert data into HOADONBANSACH
INSERT INTO HOADONBANSACH VALUES('HD001', '02-19-2020', 'KH001');
INSERT INTO HOADONBANSACH VALUES('HD002', '04-23-2020', 'KH002');
INSERT INTO HOADONBANSACH VALUES('HD003', '05-11-2020', 'KH003');
-- Insert data into CHITIETHOADONBANSACH

INSERT INTO CHITIETHOADONBANSACH VALUES('HD001','MS001', 1, 300000);
INSERT INTO CHITIETHOADONBANSACH VALUES('HD002','MS003', 1, 220000);
INSERT INTO CHITIETHOADONBANSACH VALUES('HD003','MS004', 2, 40000);

-- Insert data into BAOCAOTON
INSERT INTO BAOCAOTON VALUES('BCT001', 1);
INSERT INTO BAOCAOTON VALUES('BCT002', 2);
INSERT INTO BAOCAOTON VALUES('BCT003', 3);
select * from SACH
-- insert data into CHITIETBAOCAOTON
INSERT INTO CHITIETBAOCAOTON VALUES('BCT001', 'MS001', 142, 0, 342);
INSERT INTO CHITIETBAOCAOTON VALUES('BCT001', 'MS002', 138, 0, 288);
INSERT INTO CHITIETBAOCAOTON VALUES('BCT001', 'MS003', 147, 0, 147);
-- Insert data into BAOCAOCONGNO
INSERT INTO BAOCAOCONGNO VALUES('BCCN001', 2);
INSERT INTO BAOCAOCONGNO VALUES('BCCN002', 3);
INSERT INTO BAOCAOCONGNO VALUES('BCCN003', 4);
-- Insert data into CHITIETBAOCAOCONGNO
INSERT INTO CHITIETBAOCAOCONGNO VALUES('BCCN001', 'KH001', 0, 0, 0);
INSERT INTO CHITIETBAOCAOCONGNO VALUES('BCCN001', 'KH002', 13000, 0, 9000);
INSERT INTO CHITIETBAOCAOCONGNO VALUES('BCCN001', 'KH003', 15000, 0, 7000);



-- Insert data into QUYDINH
INSERT INTO QUYDINH VALUES(150, 300, 20000, 20, 1);

ALTER TABLE CHITIETPHIEUNHAPSACH
ADD FOREIGN KEY (MaSach) REFERENCES SACH(MaSach);

ALTER TABLE CHITIETPHIEUNHAPSACH
ADD FOREIGN KEY (MaPhieuNhap) REFERENCES PHIEUNHAPSACH(MaPhieuNhap)

ALTER TABLE CHITIETHOADONBANSACH
ADD FOREIGN KEY (MaHoaDon) REFERENCES HOADONBANSACH(MaHoaDon)

ALTER TABLE HOADONBANSACH
ADD FOREIGN KEY (MaKhachHang) REFERENCES KHACHHANG(MaKhachHang)

ALTER TABLE CHITIETBAOCAOTON
ADD FOREIGN KEY (MaBaoCaoTon) REFERENCES BAOCAOTON(MaBaoCaoTon)

ALTER TABLE CHITIETBAOCAOTON
ADD FOREIGN KEY (MaSach) REFERENCES SACH(MaSach)

ALTER TABLE CHITIETBAOCAOCONGNO
ADD FOREIGN KEY (MaBaoCaoCongNo) REFERENCES BAOCAOCONGNO(MaBaoCaoCongNo)

ALTER TABLE CHITIETBAOCAOCONGNO
ADD FOREIGN KEY (MaKhachHang) REFERENCES KHACHHANG(MaKhachHang)


ALTER TABLE PHIEUTHUTIEN
ADD FOREIGN KEY (MaKhachHang) REFERENCES KHACHHANG(MaKhachHang)

